<div ng-controller="addCtrl" ng-cloak>
    <!--<button go-click="/">Back</button>-->
    <br>
    <br>
    <br>

    <label>Question: <input id="question" ng-model="question.question"></label>
    <br>
    -----------------------------------------------------------------------------
    <br>
    <label ng-repeat="answer in question.answers">
        Answer {{answer.i}}: <input ng-model="answer.answer"><input type="checkbox" ng-model="answer.right">
        <br>
    </label>

    <br>
    <br>
    <br>
    <button ng-click="save()">Save</button>
</div>