<div ng-controller="testCtrl" ng-cloak class="main">
    <div data-loading> </div>
    <div>Question {{index+1}}/{{n}}: <p> {{question.question}}</p></div>
    <p>----------------------------------------------------------</p>
    <p ng-repeat="answer in question.answers">
        * <span ng-click="chose($index)" ng-style="{'background-color': {OK: 'rgba(0, 255, 0, 0.4)', NOK: 'rgba(255, 0, 0, 0.4)'}[ response[$index] ]}">{{answer.answer}}</span>
    </p>
    <button ng-hide="n==index+1" ng-click="next()"><span class="largetext">Next Question</span></button>
    <button ng-show="n==index+1" ng-click="finish()"><span class="largetext">Finish Test</span></button>
    <button ng-click="back()"><span class="largetext">Brake Test</span></button>
</div>